<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/simple.css"
  id="theme"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/white.css"
/>

<script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js"></script>
<script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.min.js"></script>

<!-- Printing and PDF exports -->
<script>
  // Load print, pdf stylesheets from jsDelivr
  var srcUrlPrefix = 'https://cdn.jsdelivr.net/reveal.js/3.0.0/';
  var link = document.createElement('link');
  link.rel = 'stylesheet';
  link.type = 'text/css';
  link.href =
    srcUrlPrefix +
    (window.location.search.match(/print-pdf/gi)
      ? 'css/print/pdf.css'
      : 'css/print/paper.css');
  document.getElementsByTagName('head')[0].appendChild(link);
</script>

<!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/html5shiv.js"></script>
<![endif]-->

<div class="reveal">
  <div class="slides">
    <section
      data-markdown
      data-separator="^---"
      data-separator-vertical="^--"
      data-separator-notes="^Note:"
      data-charset="iso-8859-15"
    >
      {{ .RawContent }}
    </section>
  </div>
  <!-- .slides -->
</div>
<!-- .reveal -->

<script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js"></script>
<script src="https://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.min.js"></script>

<script>
  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    transition: 'slide', // none/fade/slide/convex/concave/zoom

    // Optional reveal.js plugins, loaded from jsDelivr
    dependencies: [
      {
        src: srcUrlPrefix + 'lib/js/classList.js',
        condition: function () {
          return !document.body.classList;
        },
      },
      {
        src: srcUrlPrefix + 'plugin/markdown/marked.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        },
      },
      {
        src: srcUrlPrefix + 'plugin/markdown/markdown.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        },
      },
      {
        src: srcUrlPrefix + 'plugin/highlight/highlight.js',
        async: true,
        condition: function () {
          return !!document.querySelector('pre code');
        },
        callback: function () {
          hljs.initHighlightingOnLoad();
        },
      },
      { src: srcUrlPrefix + 'plugin/zoom-js/zoom.js', async: true },
      { src: srcUrlPrefix + 'plugin/notes/notes.js', async: true },
    ],
  });
</script>
