.toc details summary {
  cursor: pointer;
}

.toc details[open] summary {
  cursor: pointer;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.banner img {
  width: 100%;
  max-height: 20vh;
  object-fit: cover;
}

.post-header.with-banner {
  margin-top: 21vh;
}

.main {
  position: unset;
}