:root {
  --highlight: #f7c035;
  --blink: #0031b8;
  --navWidth: 150px;
  --burgerContainerHeight: 4rem;
  --header-height: 0px;
  --footer-height: 0px;
  --meatWidth: 28px;
  --meatHeight: 2px;
  --frontFG: #d9d9d9;
  --frontBG: #2f6b83;
  --BGgradient1: rgba(0, 0, 0, 0.2);
  --BGgradient2: rgba(0, 0, 0, 0.1);
  --BGgradient3: rgba(0, 0, 0, 0.3);
  --BGshadow: rgba(0, 0, 0, 0.15);
  /* --navMobileBG: rgba(255, 255, 255, 0.75); */
  --navMobileBG: rgba(0, 0, 0, 0.5);
  --fourth: rgb(221, 221, 221);
  --fullContent: black;
}

@media screen and (max-width: 1099px) {
  :root {
    --header-height: var(--burgerContainerHeight);
  }
}

.dark {
  --highlight: #f7c035;
  --frontFG: #2f6b83;
  --frontBG: #333333;
  --BGgradient1: rgba(0, 0, 0, 0.5);
  --BGgradient2: rgba(0, 0, 0, 0.4);
  --BGgradient3: rgba(0, 0, 0, 0.6);
  --BGshadow: rgba(0, 0, 0, 0.25);
  --navMobileBG: rgba(0, 0, 0, 0.5);
  --fullContent: white;
}
