body {
  width: 100vw;
  height: 100vh;
  background-color: #2f3b8c;
  background-image: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.4) 20%,
      rgba(0, 0, 0, 0.4) 39%,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    repeating-linear-gradient(
      var(--gradient-degree),
      transparent,
      transparent 45%,
      rgba(0, 0, 0, 0.25) 50%,
      #2f6b83 50%,
      #2f6b83 100%
    );
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  
  margin: 0;

  #homeBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
      monospace;
    cursor: default;
    width: 100%;
    height: 100%;

    #name {
      font-weight: bold;
      font-size: 105%;
      letter-spacing: 0.75em;
      padding-bottom: 2.5vh;
    }

    #heading {
      font-size: 0;
      margin-bottom: 0.05em;
      font-weight: bold;
      border-right: 0.1em solid #0031b8; /* The typwriter cursor */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      display: inline-block;
      animation: blink-caret 666ms steps(44) infinite normal;

      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: #0031b8;
        }
      }
      
      span {
        font-size: 3rem;
      }

      #heading1::after {
        animation: typewriter1 10s steps(1000) infinite normal;
        content: 'hecht';
      }
      #heading1:hover {
        color: #f7c035;
      }

      #heading2 {
        color: #f7c035;
      }
      #heading2::after {
        animation: typewriter2 10s steps(1000) infinite normal;
        content: ".space";
      }
      #heading2:hover {
        color: #ffffff;
      }
    }

    #slogan {
      font-size: 123%;
      font-weight: lighter;
      margin-bottom: 1.75em;
    }
    #slogan::after {
      content: 'Swimming in a lake of code.';
    }
    #slogan:hover::after {
      content: 'Just my space!';
    }
    #subheading {
      font-size: 120%;
      font-weight: bold;
      letter-spacing: 0.21em;
    }
    #subheading span:hover {
      color: #f7c035;
    }

    .social {
      bottom: 0;
      right: 0;
      z-index: 1;
      position: fixed;
      padding: 20px;
      display: flex;
      justify-content: center;

      a {
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        padding: 0.4rem;
      
        &:not(:last-child) {
          margin-right: 1em;
        }

        &:hover {
          color: #f7c035;
        }

        &.router-link-exact-active {
          color: #f7c035;
          font-weight: lighter;
        }
      }

      .social__icon {
        vertical-align: middle;
        padding-left: 1vw;
        width: 1.4rem;
        height: 1.4rem;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.nav--active .nav {
  background: rgba(0,0,0,0.5);
  height: calc(100% + 1em);
}

.nav {
  background: rgba(0,0,0,0.2);
  height: calc(100% + 2em);
  top: -1em;
  box-shadow: 15px 0px 10px rgba(0,0,0,0.2);
  
  // background-image: linear-gradient(
  //   90deg,
  //   // rgba(0,0,0,0.33) 0%,
  //   // rgba(0,0,0,0.33) 33%,
  //   rgba(0,0,0,0.1) 95%,
  //   transparent
  // );
}


.nav__list a {
  color: #ffffff;

  &.active {
    color: #f7c035;
  }

  &:hover {
    color: #f7c035;
  }
}
