<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
  {{ partial "burger.html" .}} 

  {{ partial "nav.html" .}}
  
  {{ if .IsHome }}
    <div id="homeBanner">
      <div id="title">
        <div id="name">{{ .Params.name }}</div>
        <div id="heading">
          <span id="heading1"></span>
          <span id="heading2"></span>
        </div>
        <div id="slogan"></div>
        <div id="subheading">
          <span>{{ .Params.subheading1 }}</span> |
          <span>{{ .Params.subheading2 }}</span>
        </div>
      </div>
      {{ partial "social-icons.html" .}}
      {{- if (and .Site.Params.profileMode.enabled .IsHome) }}
      {{ partial "more-arrow.html" }}
      {{- end }} {{/* if not profileMode */}}
    </div>
  {{ end }}

  <style>
  {{ $heading1 := .Params.heading1 }}
  {{ $heading2 := .Params.heading2 }}
  {{ if and (ne $heading1 nil) (ne $heading2 nil)}}
  @keyframes typewriter1 {
    from,
    {{ range $index, $element := (split $heading1 "" ) }}
    {{ $index }}% {
      content: "{{ substr $heading1 0 (add $index 1) }}";
    }
    {{ end }}
    to,
    100% {
      content: "{{ $heading1 }}";
    }
  }
  @keyframes typewriter2 {
    from,
    0.0%,
    {{ sub (len $heading1) 1 }}% {
      content: "";
    }
    {{ range $index, $element := (split $heading2 "" ) }}
    {{ add (len $heading1) $index }}% {
      content: "{{ substr $heading2 0 (add $index 1) }}";
    }
    {{ end }}
    to,
    100% {
      content: "{{ $heading2 }}";
    }
  }
  {{ end }}
  </style>
  
    {{ if or (not .IsHome) .Site.Params.profileMode.enabled }}
    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>
    {{ end }}
    {{- partialCached "footer.html" . .Type .Layout .Params }}
    
      {{- $fastsearch := resources.Get "js/fastsearch.js" | resources.ExecuteAsTemplate "js/fastsearch.js" .Site.Params.fuseOpts }}
      {{- $fusejs := resources.Get "js/fuse.js" }}
      {{- if not .Site.Params.assets.disableFingerprinting }}
      {{- $search := (slice $fusejs $fastsearch ) | resources.Concat "assets/js/search.js" | minify | fingerprint }}
      {{ if (eq .Layout `search`) }} <script defer src="{{ $search.RelPermalink }}" onload="loadSearch();" integrity="{{ $search.Data.Integrity }}"></script>{{ end }}
      {{ $script := resources.Get "js/custom.js" | minify | fingerprint }}
      <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}"></script>
      {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
      <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}"></script>
      {{- else}}
      {{ $search := (slice $fusejs $fastsearch ) | resources.Concat "assets/js/search.js" | minify }}
      {{ if (eq .Layout `search`) }} <script defer src="{{ $search.RelPermalink }}" onload="loadSearch();"></script>{{ end }}
      {{ $script := resources.Get "js/custom.js" | minify }}
      <script src="{{ $script.RelPermalink }}"></script>
      {{ $script := resources.Get "js/index.js" | minify }}
      <script src="{{ $script.RelPermalink }}"></script>
      {{- end}}
    
    {{ block "scripts" . }} {{ end }}
    {{- /*  theme-toggle is enabled  */}}
    {{- if (not .Site.Params.disableThemeToggle) }}
    {{- /*  theme is light  */}}
    {{- if (eq .Site.Params.defaultTheme "light") }}
    <script>
        if (localStorage.getItem("pref-theme") === "dark") {
            document.body.classList.add('dark');
        }
    
    </script>
    {{- /*  theme is dark  */}}
    {{- else if (eq .Site.Params.defaultTheme "dark") }}
    <script>
        if (localStorage.getItem("pref-theme") === "light") {
            document.body.classList.remove('dark')
        }
    
    </script>
    {{- else }}
    {{- /*  theme is auto  */}}
    <script>
        if (localStorage.getItem("pref-theme") === "dark") {
            document.body.classList.add('dark');
        } else if (localStorage.getItem("pref-theme") === "light") {
            document.body.classList.remove('dark')
        } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.body.classList.add('dark');
        }
    
    </script>
    {{- end }}
    {{- /*  theme-toggle is disabled and theme is auto  */}}
    {{- else if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark"))}}
    <script>
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.body.classList.add('dark');
        }
    
    </script>
    {{- end }}
    <noscript>
        <style type="text/css">
            .theme-toggle,
            .top-link {
                display: none;
            }
    
        </style>
    </noscript>
    <div class="theme-toggle" title="(Alt + T)">
        <a id="theme-toggle" accesskey="t">
            <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
            <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
        </a>
    </div>
</body>

<script>
  document.getElementById("theme-toggle").addEventListener("click", () => {
      if (document.body.className.includes("dark")) {
          document.body.classList.remove('dark');
          localStorage.setItem("pref-theme", 'light');
      } else {
          document.body.classList.add('dark');
          localStorage.setItem("pref-theme", 'dark');
      }
  })

</script>

</html>
