div.theme-toggle {
  position: fixed;
  z-index: 10;
  top: 1em;
  right: 1em;
}

#homeBanner {
  background-color: var(--frontFG);
  background-image: radial-gradient(
      ellipse at center,
      var(--BGgradient1) 0%,
      var(--BGgradient2) 20%,
      var(--BGgradient2) 39%,
      var(--BGgradient2) 60%,
      var(--BGgradient3) 100%
    ),
    repeating-linear-gradient(
      var(--gradient-degree-inv),
      transparent,
      transparent 45%,
      var(--BGshadow) 50%,
      var(--frontBG) 50%,
      var(--frontBG) 100%
    );
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: var(--primary);

  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  cursor: default;
  width: 100vw;
  height: 100vh;
}

.dark #homeBanner {
  background-color: var(--frontBG);
  background-image: radial-gradient(
      ellipse at center,
      var(--BGgradient1) 0%,
      var(--BGgradient2) 20%,
      var(--BGgradient2) 39%,
      var(--BGgradient2) 60%,
      var(--BGgradient3) 100%
    ),
    repeating-linear-gradient(
      var(--gradient-degree),
      transparent,
      transparent 45%,
      var(--BGshadow) 50%,
      var(--frontFG) 50%,
      var(--frontFG) 100%
    );
}

#name {
  font-weight: bold;
  font-size: 105%;
  letter-spacing: 0.75em;
  padding-bottom: 2.5vh;
}

#heading {
  font-size: 0;
  margin-bottom: 0.05em;
  font-weight: bold;
  border-right: 0.25rem solid var(--blink); /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  display: inline-block;
  animation: blink-caret 666ms steps(44) infinite normal;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--blink);
  }
}

#heading span {
  font-size: 3rem;
}

#heading1 {
  color: var(--primary);
}

#heading1::after {
  animation: typewriter1 10s steps(1000) infinite normal;
  content: 'hecht';
}
#heading1:hover {
  color: var(--highlight);
}

#heading2 {
  color: var(--highlight);
}
#heading2::after {
  animation: typewriter2 10s steps(1000) infinite normal;
  content: '.space';
}
#heading2:hover {
  color: var(--primary);
}

#slogan {
  font-size: 123%;
  font-weight: bold;
  margin-bottom: 1.75em;
}
#slogan::after {
  content: 'Swimming in a lake of code.';
}
#slogan:hover::after {
  content: 'Just my space!';
}
#subheading {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 0.21em;
}
#subheading span:hover {
  color: var(--highlight);
}

#homeBanner .social-icons {
  bottom: 0;
  right: 0;
  z-index: 2;
  position: absolute;
}

#homeBanner .social-icons a {
  padding: 0.4rem;
  margin-right: 1em;
}

#homeBanner .social-icons svg {
  color: var(--theme);
}

.dark #homeBanner .social-icons svg {
  color: var(--content);
}

.social-icons svg:hover {
  color: var(--highlight) !important;
}

.social-icons svg {
  color: var(--content);
}

.post-description a {
  box-shadow: 0 1px 0;
}

@media screen and (max-width: 1099px) {
  .main {
    top: var(--header-height);
  }
}

.morearrow {
  position: absolute;
  width: 4em;
  stroke: var(--fullContent);
  bottom: 2em;
  animation: movingarrow 2s infinite;
}

@keyframes movingarrow {
  50% {
    bottom: 3em;
  }
}


@media screen and (min-width: 1100px) {
  .morearrow {
    bottom: 0;
  }
  
  @keyframes movingarrow {
    50% {
      bottom: 1em;
    }
  }
}
