.my-nav {
  font-size: 16px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  visibility: hidden;
  z-index: 2;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-weight: bold;
}

@media screen and (min-width: 1100px) {
  .my-nav {
    display: block;
    visibility: visible;
    padding-top: 3em;
    width: var(--navWidth);
  }
}

.nav--active .my-nav {
  visibility: visible;
  height: 100%;
  width: 100%;
  background: var(--navMobileBG);
}

@media screen and (min-width: 1100px) {
  .nav--active .my-nav {
    width: var(--navWidth);
  }
}

.nav__list {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
}

@media screen and (min-width: 1100px) {
  .nav__list {
    width: auto;
  }
}

@media screen and (max-width: 1099px) {
  .nav__list {
    transform: translateY(-25px);
    opacity: 0;
  }
  .nav--active .nav__list {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms ease;
  }
}

.nav__list div {
  margin-bottom: 1em;
}

@media screen and (max-width: 1099px) {
  .nav__list div {
    margin-bottom: 1em;
    overflow: hidden;
  }
}

.nav__list div:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.2);
}

.nav__list div:hover ul.sub-menu {
  display: initial;
}

.nav__list div ul.sub-menu.active {
  display: initial;
}

.nav__list div ul.sub-menu {
  display: none;
}

@media screen and (max-width: 1099px) {
  .nav__list div:hover ul.sub-menu {
    display: none;
  }

  .nav__list div ul.sub-menu.active {
    display: none;
  }
}

.nav__list div ul.sub-menu {
  width: 100%;
  padding-left: 0;
}

.nav__list div ul.sub-menu li:hover {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.4);
}

.nav__list div:last-of-type {
  margin-bottom: 0;
}

.nav__list div li {
  width: 100%;
  padding-right: 0.5em;
  /* line-height: 1.5em; */
}

.nav__list div li .child-indicator.has-child:after {
  content: '\02C3';
}

@media screen and (max-width: 1099px) {
  .nav__list div li.active .child-indicator.has-child:after {
    content: '\02C3';
  }

  .nav__list div:hover li .child-indicator.has-child:after {
    content: '\02C3';
  }
}

.nav__list div li .child-indicator {
  display: inline-block;
  width: 0.9em;
}

.my-nav a {
  color: var(--theme);
  text-decoration: none;
  font-size: 2em;
}

@media screen and (max-width: 1099px) {
  .my-nav a {
    font-size: 1.2em;
  }
}

.dark .my-nav a {
  color: var(--content);
}

.my-nav li.active a {
  color: var(--highlight);
}

.dark .my-nav li.active a {
  color: var(--highlight);
}

.my-nav a:hover {
  color: var(--theme) !important;
}

.dark .my-nav a:hover {
  color: var(--highlight) !important;
}

@media screen and (min-width: 1100px) {
  .my-nav a {
    color: var(--content);
    font-size: 1em;
  }
}

.burger__container {
  height: var(--burgerContainerHeight);
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  position: fixed;
  width: 100%;
  background: var(--theme);
  z-index: 3;
}

@media screen and (min-width: 1100px) {
  .burger__container {
    display: none;
  }
}

.burger {
  position: relative;
  width: var(--meatWidth);
  height: var(--meatWidth);
  cursor: pointer;
}

.burger__meat {
  position: absolute;
  width: var(--meatWidth);
  height: var(--meatHeight);
  background: var(--primary);
  top: calc(50% - var(--meatHeight) / 2);
  left: calc(50% - var(--meatWidth) / 2);
  transition: all 150ms ease-in;
}

.burger__meat--1 {
  transform: translateY(-10px);
}

.burger__meat--2 {
  width: calc(var(--meatWidth) - 6px);
}

.burger__meat--3 {
  transform: translateY(10px);
}

.nav--active .burger__meat--1 {
  transform: rotate(45deg);
}

.nav--active .burger__meat--2 {
  opacity: 0;
}

.nav--active .burger__meat--3 {
  transform: rotate(-45deg);
}

.version_list {
  background-color: var(--fourth);
  display: inline-block;
  position: relative;
  padding: 0 0.5em;
  border-radius: var(--radius);
}

.dark .version_list {
  color: var(--theme);
}

.version_list[open] {
  border-radius: var(--radius) var(--radius) 0 0;
}

.version_list summary {
  outline: none;
  cursor: pointer;
}

.version_list ul {
  background-color: var(--fourth);
  text-align: right;
  list-style-type: none;
  position: absolute;
  padding: 0.2em 0.5em;
  transform: translateX(-0.5em);
  width: 100%;
  border-radius: 0 0 var(--radius) var(--radius);
}

.dark .version_list ul a {
  color: var(--theme);
}

.version_list summary .current {
  color: var(--primary);
  box-shadow: 0 1px 0 var(--secondary);
}

.dark .version_list summary .current {
  color: var(--theme);
  box-shadow: 0 1px 0 var(--theme);
}
