<!-- Head custom content area start -->
<!--
Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. Can be overwritten by partial with the same name in the global layouts.
-->
<!-- Head custom content area end -->

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{- .Site.Params.assets.apple_touch_icon57x57 | default "apple-touch-icon-57x57.png" | absURL -}}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{- .Site.Params.assets.apple_touch_icon114x114 | default "apple-touch-icon-114x114.png" | absURL -}}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{- .Site.Params.assets.apple_touch_icon72x72 | default "apple-touch-icon-72x72.png" | absURL -}}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{- .Site.Params.assets.apple_touch_icon144x144 | default "apple-touch-icon-144x144.png" | absURL -}}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{- .Site.Params.assets.apple_touch_icon60x60 | default "apple-touch-icon-60x60.png" | absURL -}}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{- .Site.Params.assets.apple_touch_icon120x120 | default "apple-touch-icon-120x120.png" | absURL -}}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{- .Site.Params.assets.apple_touch_icon76x76 | default "apple-touch-icon-76x76.png" | absURL -}}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{- .Site.Params.assets.apple_touch_icon152x152 | default "apple-touch-icon-152x152.png" | absURL -}}" />
<link rel="icon" type="image/png" href="{{- .Site.Params.assets.favicon196x196 | default "favicon-196x196.png" | absURL -}}" sizes="196x196" />
<link rel="icon" type="image/png" href="{{- .Site.Params.assets.favicon96x96 | default "favicon-96x96.png" | absURL -}}" sizes="96x96" />
<link rel="icon" type="image/png" href="{{- .Site.Params.assets.favicon32x32 | default "favicon-32x32.png" | absURL -}}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{- .Site.Params.assets.favicon16x16 | default "favicon-16x16.png" | absURL -}}" sizes="16x16" />
<link rel="icon" type="image/png" href="{{- .Site.Params.assets.favicon128 | default "favicon-128.png" | absURL -}}" sizes="128x128" />
<meta name="application-name" content="Matthias Hecht | hecht.space | DEVELOPER - MUSICIAN"/>
<meta name="theme-color" content="#FFFFFF" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{- .Site.Params.assets.mstile144x144 | default "mstile-144x144.png" | absURL -}}" />
<meta name="msapplication-square70x70logo" content="{{- .Site.Params.assets.mstile70x70 | default "mstile-70x70.png" | absURL -}}" />
<meta name="msapplication-square150x150logo" content="{{- .Site.Params.assets.mstile150x150 | default "mstile-150x150.png" | absURL -}}" />
<meta name="msapplication-wide310x150logo" content="{{- .Site.Params.assets.mstile310x150 | default "mstile-310x150.png" | absURL -}}" />
<meta name="msapplication-square310x310logo" content="{{- .Site.Params.assets.mstile310x310 | default "mstile-310x310.png" | absURL -}}" />
