<div class="morearrow">
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1000 1000"
    xml:space="preserve"
  >
    <style type="text/css">
      .st0 {
        fill: none;
        stroke-width: 80;
        stroke-linecap: round;
        stroke-miterlimit: 10;
      }
    </style>
    <g>
      <line class="st0" x1="86.5" y1="335.5" x2="499.5" y2="662.5" />
    </g>
    <g>
      <line class="st0" x1="912.7" y1="335.7" x2="499.7" y2="662.7" />
    </g>
  </svg>
</div>
